/* Icons */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
/* Reset css */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
var,
ol,
ul,
li,
fieldset,
form,
label,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
nav,
output,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Oswald", sans-serif;
  vertical-align: baseline;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
/* Nav */
nav {
  display: flex;
}
.navbar-nav {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.685);
  /* // hauteur de la Nav */
  top: 66px;
  text-align: center;
  left: -100%;
  transition: all 0.5s;
}
nav ul li {
  display: block;
  line-height: 30px;
  color: white;
  display: block;
  list-style: none;
  text-align: center;
  width: 100px;
}
.navbar-nav li a {
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 5px 10px;
}
.navbar-nav li a.active,
a:hover {
  transition: 0.5s;
  text-decoration: solid;
}
.checkbtn {
  font-size: 30px;
  color: black;
  margin-left: 10px;
  cursor: pointer;
  display: block;
}

#check {
  display: none;
}
#check:checked ~ ul {
  right: 0;
}
.navbar-nav li ul li {
  display: none;
}
.navbar-nav li:hover ul li {
  display: flex;
  flex-direction: column;
}
.icon-menu {
  margin-right: 15px;
}
.bloc_panier_compte {
  margin-left: auto;
}
.bloc_panier_compte a {
  color: black;
}
.bloc_panier_compte a::after {
  content: " ";
  width: 0px;
  height: 17px;
  border: 1px solid black;
  margin: 6px;
}
/* Main  */
/* Section 1 */
.background-section-1 {
  background-image: url(img/section-bg-1.png);
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 650px;
  display: flex;
  align-items: center;
}
.section_1_article {
  width: 100%;
  height: 280px;
  background: #ffffffaf 0% 0% no-repeat padding-box;
  display: flex;
  flex-wrap: wrap;
  padding: 0px 25px;
}
.section_1_article h2 {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: #000000;
  margin-top: 29px;
}
.section_1_article p {
  text-align: left;
  font-size: 18px;
  font-weight: 300;
  top: 83px;
}
.section_1_article_group_butn {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.section_1_article_group_butn a {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: white;
  width: 105px;
  height: 50px;
  text-align: center;
}
/* Best products */
.best_product {
  font-size: 26px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  padding: 20px 20px;
}
.best_product h4 {
  font-size: 26px;
  font-weight: 200;
  width: 100%;
  text-align: left;
}
.best_product .link-article {
  font-size: 8px;
  font-weight: 300;
  color: black;
  text-decoration-line: underline;
}
.best_product a:hover {
  font-weight: 400;
}
/* Article  */
.best_product article {
  display: flex;
  flex-wrap: wrap;
}
/* le cadre des articles */
.best_product .int-article {
  display: flex;
}
/* le cadre des articles */
.int-article {
  position: relative;
  height: 140px;
  width: 100%;
}
.img-article {
  background-image: url(img/article_4.png);
  width: 148px;
  height: 141px;
  background-size: cover;
}
.etiquette_article {
  position: absolute;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  padding: 10px 15px;
  font-size: 6px;
  width: auto;
  height: 14px;
  text-align: center;
  left: 0;
  bottom: 13px;
}
.bloc_title_article {
  display: flex;
  flex-wrap: nowrap;
  font-size: 12px;
}
.title_article {
  font-size: 12px;
  width: 100%;
  text-align: left;
}
.details_title_article {
  font-size: 8px;
}
