/* Icons */
.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}
/* Reset css */
html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
var,
ol,
ul,
li,
fieldset,
form,
label,
tr,
th,
td,
article,
aside,
figure,
figcaption,
footer,
header,
nav,
output,
section {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  font-style: none;
  text-decoration: none;
  font-style: Oswald, sans-sherif;
}
