html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    vertical-align: baseline;
    font-family: robotto, sans-serif;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: flex;
}
ol, ul {
    list-style: none;
    text-decoration: none;
}
/* Color  */
:root {
        /* BG */
    --BG_bleu: #151B2B;
    --BG_gray: #F9F9FD;
    --BG_clear_bleu: #315996; 
        /* Color */
    --Purpul: #8686B3;
    --Text_bleu: #454658;
    --Text_Link: #5D64D2;
}
/* Header */
header {
    background-color: var(--BG_bleu);
    padding-bottom: 60px;
}
.bloc_header {
    display: flex;
}
nav {
    padding-top: 20px;
    padding-left: 55px;
    position: absolute;
}
.logo {
    width: 40px;
    height:50px;
}
.nav-bar {
    margin-left: 10px;
}
/* header_img */
.header_img {
    margin-left: 150px;
}
.img_header {
    width: 75%;
    position: relative;
    margin-top: 30px;
    left: 70px;
}
.header_gauche {
    width: 400px;
    margin-left: 100px;
    margin-top: 150px;
}
.header_h1 {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
h1 {
    font-weight: 800;
    font-size: 25px;
    line-height: 110%;
    color: white;
}
button.btn_github {
    margin-left: 20px;
    display: flex;
}
.sub-h1 {
    font-weight: 300;
    font-size: 15px;
    line-height: 140%;
    color: white;
}
.bloc-sub_2 {
    margin-top: 20px;
}
.sub-h1_2 {
    font-weight: 100;
    font-size: 15px;
    line-height: 150%;
    text-align:justify;
    color: var(--Purpul);
}
.group-button {
    margin-top: 57px;
}
.bloc-sub-h1 {
    margin-top: 20px;
}
.btn_see_git, .btn_discord {
	border:none;
	border-radius: 3px;
    color:white;
    padding: 9px 16px;
}
.btn_see_git {
    background: #454658;
}
.btn_discord {
    margin-left: 25px;
    background: #6578C0;
}
.group-button button i {
	font-size: 1rem;
	margin-right: 7px;
}

/* How does it work  */
section.section_1 {
    margin-top: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 20px;
}
.bloc-section_1 {
    width: 800px;
    margin-top: 60px;
}
.bloc_img_2 {
    width: 100%;
}
.h2_section_1 {
    text-align: center;
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 110%;
    color: var(--Text_bleu);
}
.p_section_1 {
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 150%;
    color: var(--Text_bleu);
}
.bloc_img_2 {
    width: 100%;
    display: flex;
    justify-content: center;
}
.img_section {
    margin-left: center;
}

/* Section _2 */
.section_2 {
    background-color: var(--BG_clear_bleu);
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    height: 400px;
}
.bloc_section_2_h3 {
    width: 100%;
    color: white;
    font-size: 1.4rem;
    margin: 10px;
}
.section_2 h3 {
    text-align: center;
}
.section_2_buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}
.section_2_buttons button {
    background-color: white;
    border: none;
    padding: 5px 15px;
    border-radius: 5px;
    height: 40px;
    font-size: 18px;
    font-family: monospace;
}
.section_2_buttons button:focus {
    background-color: var(--Text_bleu);
    color: white;
    font-weight: bold;
}
.section_2_buttons button:not(:last-child) {
    margin-right: 35px;
} 
/* Jonction js */
.ul_js {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px;
}
.number_compt_js {
    width: 100%;
    font-size: 20px;
    text-align: center;
    color: white;
    margin-top: 10px;
}
.list_document {
    color: white;
    padding: 7px 0px;
    width: 100%;
    height: 30px;
    text-align: center;
}
.list_document:hover{
    background-color: rgb(21, 21, 39);
    transition: .6s;
    border-radius: 30px;
}
.list_document:nth-child(odd) {
    background-color: rgb(66, 66, 109);
    border-radius: 30px;
}
/* End Jonction */

    /* section_3 */
.section_3 {
    display: flex;
    flex-wrap: wrap;
    padding: 50px 100px;
    justify-content: space-between;
}
.article_section_3 {
    width: 40%;
    position: relative;
}
.article_section_3 p {
    font-weight: 300;
    font-size: 14px;
    color: var(--Text_bleu);
}
.article_section_3 h4 {
    font-weight: bold;
    font-size: 15px;
    color: var(--Text_bleu);
    margin-bottom: 10px;
}
.article_section_3 a {
    margin-top: 10px;
    font-size: 8px;
    color: var(--Text_Link);
    text-decoration: none;
}
.article_section_3 a:hover {
    color: rgb(119, 60, 60);
    font-weight: bold;
    font-size: 9px;
    transition: .2s;
}
.article_section_3:nth-last-child(-n+2) {
    margin-top: 30px;
}
.bloc_img_section_3 {
    height: auto;
    overflow: hidden;
}
.img_section_3 {
    width: 30%;
}
.a {
    width: 50%;
}
.b {
    width: 37%;
}
.c {
    width: 62%;
}
/* footer */
    footer {
        background-color: var(--BG_clear_bleu);
        display: flex;
        flex-wrap: wrap;
        
    }

/* Smartphone */
@media (min-width: 370px) and (max-width: 812px) {
    /* Header */
    .nav-bar {
        display: none;
    }
    header {
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        overflow: hidden;
    }
    .bloc_header {
        display: flex;
        flex-wrap: wrap;
    }
    .header_h1 {
        width: 200px;
        right: 0;
        position: absolute;
        margin-right: 20px;
    }
    h1 {
        margin-top: 29px;
        font-size: 1.2rem;
    }
    .sub-h1 {
        text-align: center;
    }
    .btn_github {
        margin-top: 15px;
        margin-left: 0px;
    }
    .bloc-sub-h1 {
        margin-top: 110px;
    } 
    .header_gauche {
        margin-left: 0px;
        width: 100%;
        padding: 0px 30px;
        margin-top: 0;
        position: relative;
    }
    .group-button {
        display: flex;
        margin-top: 20px;
    }
    .btn_discord, .btn_see_git {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 300;
    }
    .btn_discord .fab, .btn_see_git .fab {
        font-size: 1.7rem;
    }
    .header_img {
        margin: 0px;
        display: flex;
    }
    .img_header {
        margin-top: 0px;
        padding-top: 40px;
    }
    /* Section 1  */
    .section_1 {
        padding: 0 20px;
    }
    .bloc-section_1 {
        margin-top: 30px; 
    }
    .p_section_1 {
        text-align: center;
        margin-bottom: 15px;
    }
    .bloc_img_2 {
        overflow: hidden;
    }
    .img_section {
        width: 100%;
    }
    /* Section 2 */
.section_2_buttons button {
    padding: 10px 20px;
    height: auto;
    font-size: 14px;
}
.section_2_buttons button:not(:last-child) {
    margin-right: 10px;
}
    /* Section 3 */
    .section_3 {
        padding: 5px 15px;
        display: flex;
        flex-wrap: wrap;
    }
    .section_3 p {
        font-size: ;
        text-align: justify;
    }
    .section_3 h4 {
        text-align: center;
    }
    .article_section_3 {
        width: 40%;
        padding: 0 5px;
    }
    .bloc_img_section_3 {
        min-height: 100px;
        display: flex;
        justify-content: center;
    }
    .img_section_3 {
        width: 95%;
    }
    .btn_github i  {
    }
}
/* Tablet */
@media (min-width: 769px) and (max-width: 1105px) {

}
/* Desktop */
@media (min-width: 1106px) and (max-width: 2000px) {

}
/* Large desktop */
@media (min-width: 2001px) and (max-width: 2441px) {

}
