/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Perso */
a, del, ins {
	text-decoration: none;
}
body,input,button{font-family:Overpass;font-weight:300;outline:0}
.contenu{margin:auto;width:1200px}
#header{border-bottom:#000 1px solid;padding:50px}
#nav{text-align:center}
#nav a{margin:0 20px;color:inherit;text-decoration:underline}
#nav .active{text-decoration:none}
#main{padding:50px 0;min-height:400px}
#intro h1{font-size:40px;line-height:50px}
#intro h2{font-size:25px;line-height:30px}
#footer{color:#999;font-size:11px;margin-top:200px;padding:30px;clear:both;overflow:hidden;border-top:1px solid #ccc;margin-top:100px}
#footer .fleft{float:left}
#footer .fright{float:right}
#container{margin: 50px auto;width:600px;font-size:2em}
form#container input{font-size:1em;width:5em;float:left;margin-right:.1em}
form#container button{background:#000;color:#fff;border:0;font-size: .6em;padding: .68em 1em;float:left;}
#result{margin:30px;text-align:center}
